<div class="container-todo-list d-flex flex-column w-100">
  <div class="d-flex justify-content-between pb-3 align-items-center">
    <div class="title">Management Tool</div>
    <div class="d-flex gap-4 align-items-center">
      <mat-button-toggle-group [(ngModel)]="viewMode" aria-label="Font Style">
        <mat-button-toggle value="tile">
          <mat-icon fontIcon="grid_view"></mat-icon
        ></mat-button-toggle>
        <mat-button-toggle value="list">
          <mat-icon fontIcon="view_list"></mat-icon
        ></mat-button-toggle>
      </mat-button-toggle-group>
      <app-button
        [buttonProps]="{
          title: 'Add todo',
          icon: 'add_circle',
          type: 'button'
        }"
        (handleClick)="openTodoForm.set(true)"
      ></app-button>
    </div>
  </div>
  <mat-form-field
    class="example-form-field"
    appearance="outline"
    class="w-100 my-3"
  >
    <input
      matInput
      type="text"
      [(ngModel)]="searchValue"
      placeholder="Find by name..."
    />
    <mat-icon matPrefix>search</mat-icon>
    @if (searchValue()) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchValue.set('')"
    >
      <mat-icon fontIcon="close">close</mat-icon>
    </button>
    }
  </mat-form-field>
  @if(store.filteredItems().length === 0) {
  <div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="empty-state d-flex flex-column align-items-center gap-3">
      <mat-icon fontIcon="info"></mat-icon>
      <span class="title">No items found</span>
      <span class="description">Try to change the search value</span>
    </div>
  </div>
  }@else { @if(viewMode()=== 'list') {
  <app-todo-list
    (handleUpdate)="handleUpdate($event)"
    (handleDelete)="openSnackBar()"
  ></app-todo-list>
  }@else {
  <app-tile-todos
    (handleUpdate)="handleUpdate($event)"
    (handleDelete)="openSnackBar()"
  ></app-tile-todos>
  }
  <app-pagination></app-pagination>
  }
</div>
@if(openTodoForm()){
<div class="backdrop"></div>
<app-todo-form [itemId]="itemId()" (closeForm)="closeForm()"></app-todo-form>
}
