/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  padding: 20px;
  background-color: #f2f6f9;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
